body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#main{
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    width: 90%;
    /* background-color: #000; */
}
#inp{
    margin: 15px;
    border: none;
    border-bottom: 2px solid #ff8811;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    color: #0077b6;
}
::placeholder{
    color: #fdcc9b;
}
#add{
    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.5);
    border: none;
    border-radius: 10px;
    margin: 5px;
    background-color: #00b4d8;
    width: 100px;
    height: 40px;
    color: #90e0ef;
    font-size: 20px;
}
#delAll{
    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.5);
    border: none;
    border-radius: 10px;
    background-color: #00b4d8;
    width: 100px;
    height: 40px;
    color: #90e0ef;
    font-size: 20px;
    margin: 10px;
}
#edit{
    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.5);
    border: none;
    border-radius: 10px;
    background-color: #00b4d8;
    width: 100px;
    height: 40px;
    color: #90e0ef;
    font-size: 20px;
    margin: 10px;
}
#del{
    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.5);
    border: none;
    border-radius: 10px;
    background-color: #00b4d8;
    width: 100px;
    height: 40px;
    color: #90e0ef;
    font-size: 20px;
    margin: 10px;
}
.li{
    text-align: center;
    /* background-color: #90e0ef; */
    border-bottom: 2px solid #ff8811;
    color: #90e0ef;  
}
#ul{
    text-align: center;
    list-style: none;
    
}
#div{
    border-radius: 10px;
}